<!DOCTYPE html>
<html>
	<head>
		<meta
		charset="UTF-8">

		{# titulo pagina #}
		<title>
			{% block titulo %}{% endblock %}
		</title>

		{#  voy a añadir estilos bootstrap por falta de tiempo,
			 tambien a lo mejor haré cosas con css sobre todo los effectos
		    de hover 
		#}
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

		{# estilos #}
		{% block stylesheets %}{% endblock %}

	</head>
	<body>
        {# llamando a mi navbar #}
		{% include 'partials/navbar.html.twig' %}

        {# body #}
		{% block body %}{% endblock %}

		{# script js bootstrap #}
		 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

		{# scripts  #}
        {% block javascripts %}{% endblock %}
</body></html>
